# --- PYTHON ---

# Env
.venv/
venv/
ENV/

# Compiled
__pycache__/
*.py[cod]
*$py.class

# Logs, datasets
*.log
*.csv
*.xlsx

# --- NODE / FRONTEND ---

# Dependencies
frontend/node_modules/

# Build
frontend/dist/

# Local Vite or cache
.vite/
frontend/.vite/
frontend/.parcel-cache/

# --- DOCKER / SYSTEM ---

# Docker junk
**/.dockerignore

# IDE
.vscode/
.idea/
.DS_Store

# --- ENV / SECRETS ---
.env
